# PrettyTbale

* What is PrettyTable?
  
  :- PrettyTable is a Python library used to display   data in a clean table format in the terminal (console).

* Why Do We Use PrettyTable?

  :-We use PrettyTable when:

    1. We want to show data in rows and columns
    2. We want clean formatting in terminal
    3. We are working on CLI projects
    4. We want better readability

In [1]:
# Code without PrettyTable

name = ["Nisha Thakur", "Shivam Thakur"]
age  = [21, 22]

print("name age")
for i in range(2):
    print(name[i], age[1]) # output :- This looks simple and not properly aligned.

name age
Nisha Thakur 22
Shivam Thakur 22

In [6]:
# Code with PrettyTable

from prettytable import PrettyTable

table = PrettyTable()

table.field_name = ["Name", "Age"] # it's define columns 

table.add.row[("Nisha", 21)]
table.add.row[("Shivam", 22)]

ModuleNotFoundError: No module named 'prettytable'

In [7]:
from prettytable import PrettyTable

ModuleNotFoundError: No module named 'prettytable'

In [12]:
from prettytable import PrettyTable

table = PrettyTable()
table.field_names = ["Name", "Age"]
table.add_row(["Nisha", 21])

print(table)

+-------+-----+
|  Name | Age |
+-------+-----+
| Nisha |  21 |
+-------+-----+

In [9]:
import sys
!{sys.executable} -m pip install prettytable

/Users/nishathakur/.zshenv:1: command not found: Export
Collecting prettytable
  Using cached prettytable-3.17.0-py3-none-any.whl.metadata (34 kB)
Requirement already satisfied: wcwidth in /Library/Frameworks/Python.framework/Versions/3.13/lib/python3.13/site-packages (from prettytable) (0.2.13)
Using cached prettytable-3.17.0-py3-none-any.whl (34 kB)
Installing collected packages: prettytable
Successfully installed prettytable-3.17.0

[notice] A new release of pip is available: 25.3 -> 26.0.1
[notice] To update, run: pip3.13 install --upgrade pip

In [10]:
from prettytable import PrettyTable

In [19]:
# Code with PrettyTable

from prettytable import PrettyTable

table = PrettyTable()

table.field_names = ["Name", "Age"] # it's define columns 

table.add_row(["Nisha", 21]) # row's defined 
table.add_row(["Shivam", 22])
print(table)

+--------+-----+
|  Name  | Age |
+--------+-----+
| Nisha  |  21 |
| Shivam |  22 |
+--------+-----+

In [23]:
# code with PrettyTble 
# columns 

from prettytable import PrettyTable

table1 = PrettyTable()
table1.field_names = ["name","age","section","salary"]
print(table1)

+------+-----+---------+--------+
| name | age | section | salary |
+------+-----+---------+--------+
+------+-----+---------+--------+

In [25]:
# Define Row's and coloumns both 

from prettytable import PrettyTable

table2 = PrettyTable() #intial the table 
table2.field_names = ["Name of student","E.number","section", "course"]
table2.add_row(["Nisha Thakur","A3046","A","BCA"])
table2.add_row(["Shivam Thakur","A3043","A","BSC"])
print(table2)

+-----------------+----------+---------+--------+
| Name of student | E.number | section | course |
+-----------------+----------+---------+--------+
|   Nisha Thakur  |  A3046   |    A    |  BCA   |
|  Shivam Thakur  |  A3043   |    A    |  BSC   |
+-----------------+----------+---------+--------+

In [28]:
# Add columns method 

table3 = PrettyTable()

column_name = ["name", "age", "state"]
table3.add_column(column_name[0], ["nisha thakur", "Shivam Thakur", "Aaditya Thakur"])
table3.add_column(column_name[1],  ["21", "22", "17"])
table3.add_column(column_name[2], ["delhi", "delhi", "Up"])
print(table3)

+----------------+-----+-------+
|      name      | age | state |
+----------------+-----+-------+
|  nisha thakur  |  21 | delhi |
| Shivam Thakur  |  22 | delhi |
| Aaditya Thakur |  17 |   Up  |
+----------------+-----+-------+

In [30]:
# get_String() method to print the table 
x = table3.get_string(fields =["name", "state"])
print(x)

+----------------+-------+
|      name      | state |
+----------------+-------+
|  nisha thakur  | delhi |
| Shivam Thakur  | delhi |
| Aaditya Thakur |   Up  |
+----------------+-------+

In [31]:
# select specific row in the table 

y= table3.get_string(start=1, end =2)
print(y)

+---------------+-----+-------+
|      name     | age | state |
+---------------+-----+-------+
| Shivam Thakur |  22 | delhi |
+---------------+-----+-------+

In [32]:
# Sort the table increassing order 

table3.sortby = "age"
print(table3)

+----------------+-----+-------+
|      name      | age | state |
+----------------+-----+-------+
| Aaditya Thakur |  17 |   Up  |
|  nisha thakur  |  21 | delhi |
| Shivam Thakur  |  22 | delhi |
+----------------+-----+-------+

In [33]:
# sort the table by decreassing order 

table3.sortby = "age"
table3.reversesort = True
print(table3)

+----------------+-----+-------+
|      name      | age | state |
+----------------+-----+-------+
| Shivam Thakur  |  22 | delhi |
|  nisha thakur  |  21 | delhi |
| Aaditya Thakur |  17 |   Up  |
+----------------+-----+-------+

In [34]:
# delete row from the table 
table2.del_row(0)
print(table2)

+-----------------+----------+---------+--------+
| Name of student | E.number | section | course |
+-----------------+----------+---------+--------+
|  Shivam Thakur  |  A3043   |    A    |  BSC   |
+-----------------+----------+---------+--------+

In [35]:
# Trunk The Table if you want :- if you trunk the table all the row are delete but still coluns are exist.

table2.clear_rows()
print(table2)

+-----------------+----------+---------+--------+
| Name of student | E.number | section | course |
+-----------------+----------+---------+--------+
+-----------------+----------+---------+--------+

In [36]:
# if you want delete the table then :- 
print(table.clear())

None

In [37]:
# how to stelect specific value from the table 
print(table3) # check your table is exist or not  (STEP:1)

+----------------+-----+-------+
|      name      | age | state |
+----------------+-----+-------+
| Shivam Thakur  |  22 | delhi |
|  nisha thakur  |  21 | delhi |
| Aaditya Thakur |  17 |   Up  |
+----------------+-----+-------+

In [40]:
row = table3[1]
print(row)

+---------------+-----+-------+
|      name     | age | state |
+---------------+-----+-------+
| Shivam Thakur |  22 | delhi |
+---------------+-----+-------+

In [41]:
#
row = table3[1]
r = row.get_string(fields =["name"]).strip()
print(r)

+---------------+
|      name     |
+---------------+
| Shivam Thakur |
+---------------+

In [42]:
# if you want to remove the heder aor boder in the table then :- 
row = table3[1]
row.header = False
row.border = False
r = row.get_string(fields =["name"]).strip()
print(r)

Shivam Thakur

In [43]:
# align method 
table3.align = 'r'
print(table3)

+----------------+-----+-------+
|           name | age | state |
+----------------+-----+-------+
|  Shivam Thakur |  22 | delhi |
|   nisha thakur |  21 | delhi |
| Aaditya Thakur |  17 |    Up |
+----------------+-----+-------+

In [44]:
# also align for different columns , you can used for csv file and many more 
table3.align['name'] = 'l'
table3.align['age'] = 'c'
table3.align['state']  ='r'
print(table3)

+----------------+-----+-------+
| name           | age | state |
+----------------+-----+-------+
| Shivam Thakur  |  22 | delhi |
| nisha thakur   |  21 | delhi |
| Aaditya Thakur |  17 |    Up |
+----------------+-----+-------+

In [47]:
# code 
from prettytable import from_csv
with open('AQI final year dataset .csv', 'r') as file:
table3_csv = from_csv(file)
print(table3_csv)

IndentationError: expected an indented block after 'with' statement on line 3 (4233835333.py, line 4)